.input-contenedor input {
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.75rem;
  outline: none;
  border: 1.5px solid lightgrey;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  box-sizing: border-box;
}
.input-contenedor input:hover {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 20px -17px;
}   

.input-contenedor input:active {
  transform: scale(0.95);
}

.input-contenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.input-contenedor label {
    font-size: 1.25rem;
}

@media (min-width: 1024px) {
    .input-contenedor {
        flex-direction: row;
        align-items: center;
    }

    .input-contenedor input {
        width: calc(100% - 6rem);
    }
}

.input-contenedor input:focus {
  border: 1px solid grey;
}