.header {
    display: flex;
    padding: 1rem 2rem;
    padding-right: 4rem;
    background-color: #ed5564;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    font-family: 'Pokemon', sans-serif;
    text-shadow: 0.2rem 0.2rem black;
    letter-spacing: 0.2rem;
}

@media (min-width: 750px) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header h1 {
        font-size: 1.75rem;
    }
}

.header div {
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    margin-right: 1.5rem;
}

.brand {
    display: flex;
    align-items: center;
}

.link {
    font-size: 1.2rem;
}

.link:hover {
    text-decoration: underline;
}

.formcontainer {
    color: #ed5564;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
}

.formcontainer>p {
    margin: 0;
    margin-bottom: 2rem;
}

.formcontainer h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
  
.formbody {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 2rem;
}

@media (min-width: 750px) {
    .formbody {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .formbody {
        box-sizing: border-box;
        width: 1024px;
        margin: auto;
    }
}



.group h4 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #ed5564;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  
.formbody h4 img {
    width: 50px;
    margin-right: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}



.inputs {

}